.link {
  font-size: 18px;
  font-weight: 500;
  color: var(--link-color);
}

.link:hover {
  color: var(--link-color);
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: auto;

  margin-bottom: 3rem;
}

.onlyText {
  width: 550px;
}

.onlyText a {
  margin-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .text {
    width: calc(50% - 2vw);
    margin-bottom: 0;
  }

  .cardFlexStart5rem {
    justify-content: flex-start;
  }

  .cardFlexStart5rem p {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1501px) {
  .text {
    width: calc(50% - 2vw);
    margin-bottom: 0;
  }

  .onlyText {
    width: calc(50% - 2vw);
  }

  .cardFlexStart5rem {
    justify-content: flex-start;
  }

  .cardFlexStart5rem p {
    margin-top: 5rem;
  }
}

@media (max-width: 650px) {
  .onlyText {
    width: 100%;
  }
}
