@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.header {
  top: 0;
  z-index: 99;
  width: 100%;
  position: sticky;
}

.site {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.demoBg {
  background-color: #f1f0f0;
}

.site-content {
  flex-grow: 1;
}

.main {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
