@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.pageFlexContainer {
    width: 1000% !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pageFlexContainer ul {
    display: flex;
    flex-direction: column;
    font-size: var(--single-content-page-text-font-size) !important;
    font-weight: var(--single-content-page-text-font-weight) !important;
}

.pageFlexContainer p {
    width: 100%;
    text-align: center;
    font-size: var(--single-content-page-text-font-size);
    font-weight: var(--single-content-page-text-font-weight);
}
