@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.pageFlexContainer {
  align-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

/* .list {
  padding-left: 1rem;
}

.list > * > * {
  margin-bottom: 0;
} */

.heading {
  font-weight: 500;
}
