@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.pageFlexContainer {
    max-width: 900px !important;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pageFlexContainer ul {
    display: flex;
    flex-direction: column;
    font-size: var(--single-content-page-text-font-size) !important;
    font-weight: var(--single-content-page-text-font-weight) !important;
}

.pageFlexContainer p {
    width: fit-content;
    text-align: left;
    font-size: var(--single-content-page-text-font-size) !important;
    font-weight: var(--single-content-page-text-font-weight) !important;
}

@media screen and (max-width: 1000px) {
    .pageFlexContainer {
        padding-top: 40px !important;
    }
}
