.pageFlexContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.thirdCard.contactsCard {
    margin: 35px 20px;
    width: 60%;
}

@media screen and (max-width: 650px) {
    .thirdCard.contactsCard {
        margin: 20px;
        width: 95%;
    }
}