.top {
  background-color: #f1f0f0 !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1250px;
  max-height: 1100px;
  padding: 0 3rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .main {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
}

.detailsEditor {
  width: 100%;
  min-width: 440px;
  height: min(30vh, 300px);
}

.codeEditor {
  height: min(60vh, 650px);
}

.codeEditorContainer {
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.2rem);
}

.codeEditorsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

.alert {
  padding: 0;
  margin: 0;
  align-items: center;
  height: fit-content;
  color: black;
  border: none;
  background-color: transparent;
}

.generateAndRunTestsButton {
  font-size: 15px;
  height: 40px;
  background-color: var(--editor-background);
  border: none;
}

.generateAndRunTestsButton:hover {
  background-color: #154681;
}

.generateAndRunTestsButton:active {
  background-color: #154681 !important;
}

.generateAndRunTestsButton:focus {
  background-color: #154681 !important;
}

.toolbarContainer {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolbarContainer a {
  padding: 5px 16px;
}

.copyLinkButton {
  display: flex;
  flex-direction: row;

  border: none;
  align-items: center;
  height: 40px !important;
  text-align: center;
  background-color: var(--editor-background);
}

.copyLinkButton:hover {
  background-color: #383838;
}

.dropdownLanguages {
  margin-top: 5px;
  width: fit-content;
}

.dropdownContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
}
