.pageFlexContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.utbotVersionCard {
    margin: 20px;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .pageFlexContainer {
        padding: 3px;
    }

    .utbotVersionCard {
        width: 100%;
    }
}