.mainHeader { 
    text-align:left;
    font-weight:bold;
    background:#282c34;
    margin-bottom: 60px;
    width: 100%;
}

.headerContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mainHeaderWrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imageWrapper {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wide > * {
    margin-top: 5px;
}

.contentTitle {
    margin-top: 0;
    color: white;
}

.slogan {
    color: white;
}

.whatisContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnsWrapper {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
}

.columnsWrapper .column {
    margin: 35px;
    text-align: justify;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    box-sizing: border-box;
}

.columnHeader {
    margin-bottom: 25px;
    text-align: center;
}

.divider {
    border-left: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 80%;
}

@media screen and (max-height: 770px) {
    .columnsWrapper {
        margin-top: 15px;
        flex-direction: column;
    }

    .columnsWrapper .column {
        margin: 10px;
    }

    .columnHeader {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    span.imageWrapper {
        display: none;
    }

    .mainHeaderWrapper {
        justify-content: flex-start;
        width: 100%
    }
}

.actions button {
    width: 130px !important;
    display: inline-block;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .actions button {
        font-size: larger;
    }
}