@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.mainHeader {
    text-align: left;
    font-weight: bold;
    background-image: radial-gradient(circle, var(--light-gree-bg) -20%, var(--dark-green-bg) 80%);
}

.mainHeaderWrapper {
    height: 96vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 770px) {
    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.actions button {
    width: fit-content !important;
    display: inline-block;
    border: none;
    margin: 10px;
}

.githubButton {
    background-color: transparent;
}

.mainHeaderWrapper > .title {
    color: var(--white-color-text);
    margin-bottom: 5px;
    text-align: center;
}

.contentTitle {
    font-weight: var(--main-pg-content-title-font-weight);
    font-size: var(--main-pg-content-title-font-size);
}

.contentText {
    max-width: 85vh;
    margin-top: 1em;
    color: var(--main-pg-content-font-size);
    font-size: var(--main-pg-content-font-size) !important;
    font-weight: var(--main-pg-content-font-weight) !important;
    text-align: center;
}

.demoButton {
    background-color: var(--white-color-text);
    border-radius: 30px;
    padding: 0.7rem 1.5rem;
    font-size: var(--button-font-size);
    font-weight: var(--demo-btn-font-weight);
}

.howWorksButton {
    background-color: transparent;
    color: var(--white-color-text);
    font-weight: var(--how-works-btn-font-weight);
}

.snakeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw !important;
    margin-top: 3rem;
}

.snakeElementsWrapper {
    width: 90vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10rem;
}

p {
    font-size: var(--main-pg-snake-text-font-size);
    font-weight: var(--main-pg-snake-text-font-weight);
    text-align: left;
    margin-bottom: 2.3rem;
    max-width: 45vw;
}

.centeredContentWrapper p {
    max-width: 90vw !important;
}

.snakeElementsWrapper button,
.centeredContentWrapper button {
    background-color: var(--white-color-text);
    border-radius: 30px;
    padding: 0.7rem 1.3rem;
    font-size: var(--button-font-size);
    font-weight: var(--snake-btn-font-weight);
}

.snakeElementsWrapper img {
    overflow-x: auto;
    width: 500px;
}

.centeredContentWrapper {
    max-width: 850px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
