.pageFlexContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.primaryCard,
.thirdCard {
    margin: 20px;
    width: 80%;
}

.innerFlexContainer {
    width: 80%;
    margin-bottom: 20px;
}

.innerFlexContainer {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.releaseCard,
.nightlyCard {
    width: 30%;
}

.buttonsContainerCpp,
.buttonsContainerJava {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.buttonsContainerCpp {
    justify-content: space-between;
}

.buttonsContainerJava {
    justify-content: center;
}

.buttonsContainerCpp > .getButton {
    width: 100%;
}