@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.pageFlexContainer {
    /*padding-top: 15vw !important;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*width: 95vw !important;*/
}

h2 {
    font-size: var(--language-anounce-title-font-size);
    font-weight: var(--language-anounce-title-font-weight);
}

p {
    /*text-align: center !important;*/
    font-size: var(--language-anounce-text-font-size) !important;
    font-weight: var(--language-anounce-text-font-weight) !important;
}

@media screen and (max-width: 440px) {
    h2 {
        text-align: left !important;
        /*padding-top: 25vw !important;*/
    }

    p {
        text-align: left !important;
    }
}