.main {
  background-color: #f1f0f0;
  padding: 3rem 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
}

.pdfContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 3rem;
  row-gap: 2rem;
}

.pdfContainer > * {
  width: 47%;
}

.categotyContainer {
  width: 100%;
  max-width: 1000px;
}

.categotyTitle {
  margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
  .pdfContainer {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .pdfContainer > * {
    width: 75%;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 0;
  }

  .pdfContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .pdfContainer > * {
    width: 100%;
  }

  .categotyTitle {
    text-align: left;
    margin-bottom: 1rem;
  }

  .heading {
    text-align: left;
  }
}
