.main {
  /* background: linear-gradient(
    180deg,
    rgb(224, 252, 225) 0%,
    rgb(254, 255, 241) 50%,
    rgb(223, 248, 252) 100%
  ); */
  background-color: #f1f0f0;
  padding: 3rem 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;
}

.pdfContainer {
  /* display: grid;
  grid-auto-flow: column; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 4rem;
  row-gap: 30px;
}

.pdfContainer > * {
  width: 47%;
}

.categotyContainer {
  width: 100%;
  max-width: 1000px;
}

.categotyTitle {
  margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
  .pdfContainer {
    justify-content: center;
  }

  .pdfContainer > * {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 0;
  }

  .pdfContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .pdfContainer > * {
    width: 100%;
  }

  .categotyTitle {
    text-align: left;
    margin-bottom: 1rem;
  }
}
