.pageFlexContainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.search-results-count {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
  }
  
.search-results-list {
    list-style: none;
}

.search-results-list__heading {
    margin-bottom: 5px;
}

.search-results-list__link {
    box-shadow: none;
}

.searchCard {
    margin: 20px;
    width: 80%;
}

.searchForm.form-control {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.searchResults {
    width: 70%;
    margin: auto;
}


.search-results-count {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
}

.search-results-list {
  list-style: none;
}

.search-results-list__heading {
  margin-bottom: 5px;
}

.search-results-list__link {
  box-shadow: none;
}
