.main {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 95vw;
  align-self: center;
}

.navDropdownContainer {
  display: flex !important;
  flex-direction: row;
}

.topToolbar {
  margin-bottom: 0.2rem !important;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar a {
  padding: 7px;
}

.codeEditor {
  margin: 0;
  height: 70vh;
  width: 100%;
  min-height: 300px;
  position: relative;
  /* border: 1px dotted rgb(165, 165, 165); */
  border-radius: 5px;
  margin-bottom: 1rem;
}

.generateAndRunTestsButton {
  background-color: var(--editor-background);
  font-size: 14px;
  height: 35px;
  padding: 0 6px;
  align-self: center;
  border: none;
}

.btnBg {
  background-color: var(--editor-background);
  border: none;
  font-size: 14px;
}

@media screen and (min-width: 291px) and (max-width: 330px) {
  .toolbar a {
    padding: 4px;
  }
}

@media screen and (max-width: 290px) {
  .toolbar a {
    padding: 2px;
  }
}
