@import "../../utils/colors.css";
@import "../../utils/fonts.css";

.nav-item .dropdown-menu {
  background: var(--demo-pg-dropdown-menu-bg);
}

.nav-item .dropdown-item {
  color: var(--demo-pg-dropdown-menu-item);
}

.nav-item .dropdown-item:hover {
  background: var(--demo-pg-dropdown-menu-item-hover);
}

.nav-item .dropdown-item::selection {
  background: var(--demo-pg-dropdown-menu-item-hover);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(39, 92, 39);
}
