.button {
  border-radius: 30px;
  font-size: var(--button-font-size);
  font-weight: var(--demo-btn-font-weight);
}

.fill {
  padding: 0.7rem 1.5rem;
  /* background-color: var(--white-color-text); */
  background-color: rgba(50, 110, 67, 1);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.outline {
  padding: 0.6rem 1.5rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
