.button {
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  font-size: var(--button-font-size);
  font-weight: var(--demo-btn-font-weight);
}

.fill {
  background-color: var(--white-color-text);
  border: none;
}

.outline {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
