@import "../utils/colors.css";

#container {
  max-width: 2000px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-position {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.oneLineSearch {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-bottom: solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 10px 0;
  color: var(--full-white);
}

.headerNavBar {
  background-color: var(--header-footer-bg);
}

/* Links on the header */
.navbar-dark .navbar-nav .nav-link {
  color: var(--full-white) !important;
  font-weight: var(--header-nav-link-font-weight);
}

.searchForm {
  border-radius: 30px !important;
  max-width: 600px;
}

a:active, a:focus {
  outline: 0;
  border: none;
  outline: none !important;
}

.headerInput {
  width: 60%;
}