@import "../utils/colors.css";
@import "../utils/fonts.css";

#container {
  max-width: 2000px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-position {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.oneLineSearch {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-bottom: solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 10px 0;
  color: var(--full-white);
}

.headerNavBar {
  background-color: var(--header-footer-bg);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center !important;
}

/* Links on the header */
a.nav-link {
  font-weight: var(--header-nav-link-font-weight);
  font-size: var(--header-nav-link-font-size) !important;
  font-family: var(--font-family-sans-serif);
}

.searchForm {
  border-radius: 30px !important;
  max-width: 600px;
}

a:active, a:focus {
  outline: 0;
  border: none;
  outline: none !important;
}

.headerInput {
  width: 60%;
}