/* .nav-item .dropdown-menu {
    background: #000000;
  }
  
  .nav-item .dropdown-item {
    color: #ffffff;
  }
  
  .nav-item .dropdown-item:hover {
    background: #f0ad4e;
  } */

a:active, a:focus {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
  outline: none !important;
  outline-offset: none !important;
}

.headerInput {
  width: 60%;
}