@import "../utils/colors.css";
@import "../utils/fonts.css";

.heading {
  color: var(----text-color);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: var(--large-text-font-weight);
  font-size: var(--large-text-font-size);
}
