.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.container-flex {
  display: flex;
  flex-direction: row;
}

.sidebar-flex {
  top: 0;
  bottom: 0;
  position: sticky;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  border-right: 1.5px solid #3b3b3b !important;
}

@media screen and (max-width: 600px) {
  .sidebar-flex {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
  }
}

.content-flex {
  flex-grow: 3;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
  flex-grow: 1;
}

ul {
  padding: 0;
  margin: 0 0 1.45rem 1.45rem;
  list-style: none outside none;
}

li {
  margin-bottom: calc(1.4rem / 2);
}

ul li {
  padding-left: 0;
}

li > ul {
  margin-left: 1.2rem;
  margin-bottom: calc(1rem / 2);
  margin-top: calc(1rem / 2);
}

li *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.3rem / 2);
}

/* Kendo Treeview Overrides */
.k-in {
  width: 100%;
  height: 100%;
  /* padding: 10px 0 !important; */
}

.k-in:hover {
  color: inherit !important;
}

.k-treeview .k-in.k-state-focused {
  border: none !important;
  border-right: 3px solid #ededed !important;
  box-shadow: none !important;
}
