@import "../utils/colors.css";
@import "../utils/fonts.css";

.header {
  top: 0;
  z-index: 99;
  width: 100%;
  position: sticky;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--header-footer-bg);
  height: 70px;
}

.footer div {
  font-size: var(--footer-text-font-size);
  font-weight: var(--footer-text-font-weight);
}