@import "../utils/colors.css";
@import "../utils/fonts.css";

.header {
  top: 0;
  z-index: 99;
  width: 100%;
  position: sticky;
}

.site {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.gradient {
  /* background-image: radial-gradient(
    circle,
    var(--light-gree-bg) -20%,
    var(--dark-green-bg) 80%
  ); */
  background-image: radial-gradient(
    circle,
    rgba(10, 106, 199, 1) 7%,
    rgba(21, 49, 112, 1) 46%,
    rgba(31, 31, 31, 1) 88%
  );
  /* background: var(--dark-green-bg); */
  background: var(--background-color);
  background-attachment: fixed;
}

.site-content {
  flex-grow: 1;
}

.main {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer {
  background-color: var(--header-footer-bg);
  font-family: var(--font-family-sans-serif);
}

.githubIcon {
  width: 60px;
}

.youtubeIcon {
  width: 45px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  /* padding-right: 0; */
  height: 70px;

  font-size: var(--footer-text-font-size);
  font-weight: var(--footer-text-font-weight);
}

@media screen and (max-width: 500px) {
  .footerContent {
    padding: 0 30px;
  }
}

@media screen and (max-width: 350px) {
  .footerContent {
    padding: 0 20px;
  }
}

@media screen and (max-width: 300px) {
  .footerContent {
    padding: 0 10px;
  }
}

.copyright {
  font-size: var(--small-text-font-size);
  font-weight: var(--medium-text-font-weight);
  color: whitesmoke;
}
