.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.pdfCard {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  border: 1px dashed #1f1f1f;
  border-radius: 30px;
  padding: 2rem;
}

.link {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.authors {
  font-size: var(--research-authors-font-size);
  line-height: 1.5rem;
}
